./public_syllabi
./Data Feminism course proposal Alyssa draft Fall 2024.docx
./Data Feminism_notes.docx
./data_feminism syllabus Draft.pdf
./data_feminism_medium.pdf
./data_feminism.pdf
./new-course-proposal.docx
slides/week1/welcome_slides.pptx
