input#search {
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    input#search {
        width: 90%;
        max-width: none;
    }
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}